<div class="container-fluid">
  <button mat-fab><img src="../../assets/icons/ico-01.svg" alt="01"></button>
  <h6 class="colorGreySize">Enter your park ticket #PIN number, then select
    the desired ride while nothing the stated return time</h6>

  <button mat-fab><img src="../../assets/icons/ico-02.svg" alt="02"></button>
  <h6 class="colorGreySize">Press 'submit' to confirm and retrieve your access code</h6>

  <button mat-fab><img src="../../assets/icons/ico-03.svg" alt="03"></button>
  <h6 class="colorGreySize">When the time comes, use special FastRider line to cut out a considerable wait time</h6>
</div>
