.marginTop20{
  margin-top: 20px;
}

.marginBottom5{
  margin-bottom: 5px;
}

.marginZero{
  margin: 0;
}

.paddingTop10{
  padding-top: 30px;
}

.paddingRight5{
  padding-right: 5px;
}

.paddingLeft10{
  padding-left: 10px;
}

.padding5{
  padding: 5px;
}

.padding10_30{
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
}

.paddingZero{
  padding: 0;
}

.paddingTop5{
  padding-top: 5px;
}
