@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'margingsPaddings';

$FontPathOpenSans: "../node_modules/npm-font-open-sans/fonts";
@import '../node_modules/npm-font-open-sans/open-sans.scss';

$backgroundScreen: #232323;
$backgroundCubes: #373737;
$text: #656565;
$sendButton: #4c4c4b;
$colorWhite: #ffffff;
$width100: 100%;

body{
  font-family: $FontPathOpenSans;
}

.containerApp{
  background-color: $backgroundScreen;
  min-height: 100vh;
}

.cube{
  height: 140px;
  background-color: $backgroundCubes;
  position: relative;
  border-left: none;
  border-right: none;
  border-bottom: none;
}



.rideZone{
  position: absolute;
  top:0;
  width: $width100;
}

.rideName{
  margin: 0 auto;
  width: 80%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom10{
  position: absolute;
  bottom: 10px;
  width: $width100;
}
.closeTime{
  position: absolute;
  bottom: 5px;
  line-height: 1em;
}

.colorWhite{
   color: $colorWhite;
}

.fontColorWhite{
  color: $colorWhite;
  font-size: x-large;
}

.fontSize_1_2rem{
  font-size: 1.2rem;
}
.lineHeight2{
  line-height: 2em;
}
.lineHeight_2_3{
  line-height: 2.3em;
}
.colorGrey{
  color: $text;
}

.fontSizeSmall{
  font-size: small;
}

sup {
  vertical-align: super;
  font-size: 0.5rem;
}

.textCenter{
  text-align: center;
}

.iconSmall{
  width: 20px;
  height: 20px;
  font-size: large;
}

.inputPIN, ::placeholder{
  font-family: $FontPathOpenSans;
  color: black;
  width: $width100;
  font-weight: bold;
  font-size: large;
}

.btn{
  border-radius: initial;
  background-color: $sendButton;
  color: $colorWhite;
  width: $width100;
}
.btn-outline-secondary{
  border-color: $sendButton;
}


@media only screen and (max-width: 576px){
  .btn{
    position: fixed;
    bottom: 0;
    z-index: 10;
    margin-left: -20px;
    line-height: 2.5em;
    font-size: x-large;
  }
}






.mat-fab .mat-button-wrapper{
  padding: 0 !important;
}

.mat-fab.mat-accent[disabled]{
  background-color: $sendButton;
}

.mat-fab, .iconBig{
  width: 5vmax !important;
  height: 5vmax !important;
}
.iconBig, .mat-button {
  vertical-align: initial !important;
}
