@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$backgroundScreen: #232323;
$backgroundCubes: #373737;
$text: #656565;
$sendButton: #4c4c4b;
$colorWhite: #ffffff;

.containerApp{
  background-color: $backgroundScreen;
  min-height: 100vh;
}

.cube{
  height: 130px;
  background-color: $backgroundCubes;
}
.flexbox-container {

}
.bottom0{
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.colorWhite{
   color: $colorWhite;
}

.fontColorWhite{
  color: $colorWhite;
  font-size: larger;
}
.colorGrey{
  color: $text;
}

.fontSizeSmall{
  font-size: small;
}

sup {
  vertical-align: super;
  font-size: 0.5rem;
}

.textCenter{
  text-align: center;
}

.iconSmall{
  width: 20px;
  height: 20px;
  font-size: large;
}

.paddingTop30{
  padding-top: 30px;
}
.marginTop20{
  margin-top: 20px;
}

.padding5{
  padding: 5px;
}
.padding10_30{
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
}
.paddingZero{
  padding: 0;
}





.mat-fab .mat-button-wrapper{
  padding: 0 !important;
}

.mat-fab.mat-accent[disabled]{
  background-color: $sendButton;
}

.mat-fab, .iconBig{
  width: 5vmax !important;
  height: 5vmax !important;
}
.iconBig, .mat-button {
  vertical-align: initial !important;
}
